@model BillManager.Models.BillModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BillModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BillName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillCompany)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillCompany)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillDueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillDueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BillId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
